<div>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Catalog</a></li>
        <li class="breadcrumb-item"><a routerLink="/movie/1">Movie</a></li>
        <li class="breadcrumb-item" aria-current="page">Character</li>
      </ol>
  </nav>
</div>

<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Catalog</a></li>
  <li class="breadcrumb-item"><a routerLink="/movie/1">Movie</a></li>
  <li class="breadcrumb-item" aria-current="page">Character</li>
</ol> -->