
<div *ngIf="planet" class="mb-5">
  <h3 class="mb-3 text-primary">Homeworld</h3>
  <div class="d-flex flex-wrap">
    <div class="d-flex justify-content-center mx-3 mb-2">
      <img class="img-fliud rounded" src="https://via.placeholder.com/150x150?text=Location" alt="Location Images">
    </div>
    <div class="mx-3">
      <div class="bg-primary py-2 px-3 h4 d-inline-flex">
        <span class="">{{planet.name}}</span>
      </div>
      <div>
        <p class="my-0 fw-bold">Population: <span class="fw-light">{{planet.population}}</span></p>
        <p class="my-0 fw-bold">Climate: <span class="fw-light">{{planet.climate}}</span></p>
        <p class="my-0 fw-bold">Gravity: <span class="fw-light">{{planet.gravity}}</span></p>
      </div>
    </div>

  </div>
  

</div>

